<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>petShopProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>mainServ</display-name>
    <servlet-name>mainServ</servlet-name>
    <servlet-class>petShopProject.servlet.mainServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mainServ</servlet-name>
    <url-pattern>/mainServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletAdmin</display-name>
    <servlet-name>servletAdmin</servlet-name>
    <servlet-class>petShopProject.login.servletAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletAdmin</servlet-name>
    <url-pattern>/servletAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mainAdmin</display-name>
    <servlet-name>mainAdmin</servlet-name>
    <servlet-class>petShopProject.servlet.mainAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mainAdmin</servlet-name>
    <url-pattern>/mainAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminservlet</display-name>
    <servlet-name>Adminservlet</servlet-name>
    <servlet-class>petShopProject.servlet.Adminservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminservlet</servlet-name>
    <url-pattern>/Adminservlet</url-pattern>
  </servlet-mapping>
</web-app>